networks:
  shared_network:
    external: true

services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    networks:
      - shared_network
    ports:
      - "5678:5678"
    environment:
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - WEBHOOK_URL=http://localhost:5678
      - N8N_LOG_LEVEL=info
      - GENERIC_TIMEZONE=America/Bogota
    volumes:
      - n8n_data:/home/node/.n8n
    depends_on:
      - mailhog

  mailhog:
    image: mailhog/mailhog:latest
    container_name: mailhog
    networks:
      - shared_network
    ports:
      - "8025:8025"
      - "1025:1025"

volumes:
  n8n_data:
